{% extends "base.html" %}
{% load static %}
{% block title %} Habitaciones {% endblock %}

{% block content %}

<h1>Contacto</h1>
<div class="container text-center">
    <div class="mb-4">
        <img src="{% static 'img/logo.jpg' %}" alt="Logo del hotel" class="ml-3 w-50">
    </div>
</div>

<div class="container text-center">
    <div class="mb-4">
        <p><a href="contacto@katusukchij.com" class="link-dark">contacto@katusukchij.com</a></p>
        <p>Tel: +502 1234-1234 / +502 1234-1234</p>
        <p>Barrio San Sebastian, Jocotán, Chiquimula</p>
    </div>
</div>
<div class="container text-center">
    <div class="mb-4 ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d810.8506374699326!2d-89.39102972735843!3d14.820914128303114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f63cd37db9b0c67%3A0xb5cc095e19ec7f73!2sHotel%20y%20Restaurante%20Katu%20Sukchij!5e0!3m2!1ses!2sgt!4v1697692883634!5m2!1ses!2sgt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>  
</div>
{% endblock %}