
{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<!-- Contenido con Bootstrap -->
<body class="home">
    <div class="container mt-5">

        <h1    style="color: white;">Bienvenido a Tu Hotel</h1>
        <p style="color: white;">Disfruta de tu estancia en un calido lugar donde la puedes pasar comodamente tanto tu como tu propia billetera.</p>
    </div>
    
    <div class="bg-img">
    <div class="contenido"></div>
    <p>Esto es una prueba</p>
    
    </div> 
    
    
    <!-- <div class="widget-container">
        <div class="widget-title">Reserva tu estancia</div>
        <label for="check-in">Check In</label>
        <input type="date" id="check-in" class="widget-input">

        <label for="check-out">Check Out</label>
        <input type="date" id="check-out" class="widget-input">

        <label for="adultos">Adultos</label>
        <input type="number" id="adultos" class="widget-input label-int">

        <label for="niños">Niños</label>
        <input type="number" id="niños" class="widget-input label-int">

        <button class="btn btn-dark">Search</button>
    </div> -->

    <div class="container widget-container">
        <div class="row">
            <div class="col-12 widget-title">Reserve su estancia</div>
        </div>
        <div class="row">
            <div class="col-12"><label for="check-in">Check In</label></div>
        </div>
        <div class="row">
            <div class="col-12"><input type="date" id="check-in" class="widget-input"></div>
        </div>
        <div class="row">
            <div class="col-12"> <label for="check-out">Check Out</label></div>
        </div>
        <div class="row">
            <div class="col-12"><input type="date" id="check-out" class="widget-input"></div>
        </div>
        <div class="row">
            <div class="col-6"><label for="adultos">Adultos</label></div>
            <div class="col-6"><label for="niños">Niños</label></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="number" id="adultos" class="widget-input "></div>
            <div class="col-6"><input type="number" id="niños" class="widget-input"></div>
        </div>
        <div class="row">
            <div class="col-12"><button class="btn btn-dark" id="btn">Search</button></div>
        </div>
    </div>
</body>

<!-- <img src="{% static 'img/bg-home.jpg' %}" alt=""> -->

{% endblock %}