<!DOCTYPE html>
<html>
<head>
    {% load static %}
    
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- Agrega la referencia a los archivos CSS de Bootstrap (por ejemplo, desde un CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/my.css' %}" rel="stylesheet">

</head>
<body>
    {% include "superior/barraNav.html" %}
    
    {% block content %} {% endblock %}

    {% include "inferior/footer.html" %}
    
</body>
</html>
