{% extends "base.html" %}
{% load static %}
{% block title %} Eventos {% endblock %}

{% block content %}
<h2 style="color: white;">Eventos</h2>
    

<div class="container">
<div class="row">

{% for eventos in productos %}
    <div class="col-md-3" >
        <div class="card" style="margin: 5px 0px;">
        <!-- <img src="{{ productos.imagen.url }}" alt="" class="card-img-top"> -->
            <div class="card-body" style="text-align: center;">
                <h7 class="card-title">{{ eventos.nombre }}</h7>
                <p> {{eventos.descripcion}} </p>
                <img src="{{ eventos.imagen.url }}" alt="" class="card-img-top">
                <p class="card-text">Q&nbsp;{{ eventos.costo}}</p>

            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-success">Agregar</a>
              
            </div>
        </div>
    </div>  

    {% endfor %}
  </div>
</div>


{% endblock %}

