{% extends "base.html" %}
{% load static %}
{% block title %} Habitacion {% endblock %}

{% block content %}
<h2 style="color: white;">Habitacion</h2>
    

<div class="container">
<div class="row">

{% for habitacion in habitaciones %}
    <div class="col-md-3" >
        <div class="card" style="margin: 5px 0px;"> 
            <div class="card-body" style="text-align: center;">
                <h7 class="card-title">{{ habitacion.nombre }}</h7>
                <img src="{{ habitacion.image.url }}" alt="" class="card-img-top">
                <p> {{habitacion.descripcion}} </p>
                <p class="card-text">Q&nbsp;{{ habitacion.costo}}</p>

            </div>
            <div class="card-footer text-center">
              <a href="#" class="btn btn-success">Agregar</a>
              
            </div>
        </div>
    </div>  

    {% endfor %}
  </div>
</div>


{% endblock %}