{% extends "base.html" %}
{% load static %}
{% block title %} Restaurante {% endblock %}

{% block content %}

<h1>restaurante</h1>

<div class="container">
    <div class="row">
    
    {% for restaurante in productos %}
        <div class="col-md-3" >
            <div class="card" style="margin: 5px 0px;">
            <!-- <img src="{{ productos.imagen.url }}" alt="" class="card-img-top"> -->
                <div class="card-body" style="text-align: center;">
                    <h7 class="card-title">{{ restaurante.platillos }}</h7>
                    <img src="{{ restaurante.imagen.url }}" alt="" class="card-img-top">
                    <p class="card-text">Q&nbsp;{{ restaurante.precio}}</p>
    
                </div>
                <div class="card-footer text-center">
                  <a href="#" class="btn btn-success">Agregar</a>
                  
                </div>
            </div>
        </div>  
    
        {% endfor %}
      </div>
    </div>
    
    
    {% endblock %}
