.home{
    background-image: url("../img/bg-home.jpg"); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

}
.img-logo-navbar{
    width: 400px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;

    
}
.pie-web{
position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333; /* Fondo del pie de página */
  color: #fff; /* Color de texto */
  padding: 10px; /* Espaciado interior */
  text-align: center; /* Alineación de texto al centro */
    
}

.navbar{
    padding: 40px;
}

.widget-container {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 30px; 
    padding: 20px;
    margin-left: 60px;
    text-align: left;
    width: 400px; 
}

/* Estilos para los títulos */
.widget-title {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Estilos para los campos de entrada */
.widget-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#btn{
    width: 100%;
}


