{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Registro {% endblock %}

{% block content %}
<div class="container" style="margin: 20px;">
<h1>Registro</h1>
<p>Registrate para saber mas de nosotros.</p>
</div>
<div style="width: 75%; margin: auto;">
  <form method="post">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit">Registrar</button>
  </form>
</div>
  {% endblock %}


