<!-- Pie de página con Bootstrap -->
<footer class="bg-dark text-light pie-web">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Hotel y Restaurante Katu Sukchij</p>
                <p>Barrio San Sebastián, Jocotán, Chiquimula</p>
                <p>Tel: +502 1234-1234 / +502 1234-1234</p>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-primary">Redes Sociales</button>
                <button class="btn btn-primary">Reservas</button>
                <button class="btn btn-primary">Contacto</button>
            </div>
        </div>
    </div>
</footer>

<!-- Agrega la referencia a los archivos JavaScript de Bootstrap (por ejemplo, desde un CDN) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>