<!-- Barra de navegación con Bootstrap -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Katu Sukchij</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'habitaciones:habitacion' %}">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'restaurante' %}">Restaurante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'eventos' %}">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'autenticacion:registro' %}">Registro</a>
                </li>
            </ul>
            <img src="{% static 'img/logo.jpg' %}" alt="Logo del hotel" class="ml-3 img-logo-navbar">
        </div>
    </div>
</nav>